@page
@model Mini_Project.Pages.AboutModel
@{
    ViewData["Title"] = "About page";
}

<p>
    This web application is developed using ASP.NET core to show how to add roger page.
</p>
<p>@DateTime.Now</p>
