@page
@model Mini_Project.Pages.practiceModel
@{
    ViewData["Title"] = "About Practice";
}
<h3>Practice page</h3>

@if (Model.isok == true) 
{
    string a = Model.a, b = Model.b;
    <p>The sum of @a and @b is : @(int.Parse(a) + int.Parse(b))</p>

    String nam = Model.name;

    if (nam == "parvez" && Model.a == "35")
    {
        for (int i = 0; i < 3; i++)
        {
            if (i % 2 == 0)
            {
                <p>Even @i @Model.name All Right</p>
            }
            else
            {
                <p>Odd @i @Model.name All Right</p>
            }
        }
    }
    else
    {
        <p>@Model.name All Wrong</p>
    }
}
else
{
    <p>All Wrong</p>
}
<form method="POST">

    <label>Name</label> <br>
    <input type="text" name="name" required> <br>

    <label>A</label> <br>
    <input type="text" name="a" required> <br>

    <label>B</label> <br>
    <input type="text" name="b" required> <br><br>

    <input type="submit" value="submit">
</form>
